* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: black;
  color: #f5f5f5;
  overflow-x: hidden;
}

/* navigasi bar*/
.navbar {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  border-radius: 50px;
  z-index: 1000;
  box-shadow: 0 2px 1px rgb(255, 255, 0);
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-logo {
  color: yellow;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: 0.3s;
}

.nav-link:hover {
  background: #dff800;
  color: #000;
}

/* home  */
.hero {
  height: 100vh;
  padding: 140px 10% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 42px;
  color: #fff;
}

.hero-text span {
  color: hsl(61, 98%, 50%);
}

.hero-text p {
  margin-top: 10px;
  color: #e0e0e0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 24px;
  background: #e5ff00;
  color: #000000;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #3730a3;
}

.hero-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0px 40px rgb(255, 255, 0);
}

/*semua section*/
.section {
  padding: 100px 10%;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #fff;
}

/*about*/
.about {
  padding: 100px 10%;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgb(255, 255, 0);
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #e0e0e0;
}

/*skills*/
.skills {
  padding: 80px 10%;
}

.skills h2 {
  margin-bottom: 40px;
  font-size: 32px;
  text-align: center;
  color: #fff;
}

.card-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 140px;
  height: 160px;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(255, 255, 0, 0.5);
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* smooth */
  padding: 15px;
  text-align: center;
  color: #fff;
}

.card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.card span {
  font-weight: bold;
  font-size: 16px;
}

.card:hover {
  transform: translateY(-12px) scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 255, 0, 0.8),
    0 0 30px rgba(255, 255, 0, 0.6);
}

/*sertifikat*/
.sertifikat {
  padding: 100px 10%;
  text-align: center;
}

.sertifikat h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #fff;
}

.sertifikat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cert-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 1px rgb(238, 255, 2);
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 220px;
  color: #fff;
}

.cert-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 2px 20px rgb(255, 255, 0);
}

.cert-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cert-card img:hover {
  transform: scale(1.05);
}

.cert-card p {
  padding: 12px 0;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

/*gambar jika ditekan nge zoom*/
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

/*contact*/
.contact {
  text-align: center;
  padding: 100px 10%;
}

.contact h2 {
  color: #fff;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contact-icons a img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.3s ease, filter 0.3s ease;
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 20px rgb(255, 255, 0);
}

.contact-icons a:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

/*responsif untuk tablet atau hp dll*/
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 160px 5% 80px;
  }

  .hero-img img {
    width: 200px;
    height: 200px;
  }

  .hero-text h1 {
    font-size: 32px;
  }
}

/*menu hamburger*/
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: 0.3s;
}

/*navbar responsiv*/
@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 80px;
    right: 10%;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 12px;
    display: none;
  }

  .nav-menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  /*sectionnya hero*/
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 160px 5% 80px;
  }

  .hero-img img {
    width: 200px;
    height: 200px;
  }

  .hero-text h1 {
    font-size: 32px;
  }
}
